@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@400;500;600;700&family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');

/* Variables */
:root {
    --primary-color: #2B6FB4;
    --secondary-color: #122E4A;
    --button-color: #6A9FD6;

    --h1-m-size: 1rem;
    --h3-m-size: .7rem;
    --h5-m-size: .6rem;
    --p-m-size: .5rem;

    --h1-l-size: 2rem;
    --h3-l-size: 1rem;
    --h5-l-size: .8rem;
    --p-l-size: 1rem;
}

/* GLOBAL */
* {
    box-sizing: border-box;
    font-family: Poppins;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

ul,li,a {
    text-decoration: none;
    list-style: none;
    padding: 0;
    color: black;
    margin: 0;
}

h1, p {
    color: var(--secondary-color);
}

h3,h4,h5 {
    margin: 0;
}

section {
    max-width: 400px;
    margin: 2rem auto;
}

img {
    max-width: 100%;
}

/* NAV SECTION */
.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: .4rem;
}

.nav__container.is-active {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
}

.nav__logo a {
    position: relative;
    z-index: 99;
    color: var(--primary-color);
}

.nav__list {
    display: flex;
}

.nav__list li {
    margin-right: 1.4rem;
}

.nav__list li a{
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: 500;
}

.nav__buttons {
    display: flex;
}

.nav__buttons li a {
    color: var(--button-color);
    font-weight: 600;
    padding: .5rem 1rem;
    border: 1px solid var(--button-color);
    border-radius: 1rem;
}

.nav__buttons li{
    margin-right: .7rem;
}

.nav__buttons li .signUp {
    color: white;
    background: var(--button-color);
    transition: .4s;
}

.nav__buttons li .signUp:hover {
    color: var(--button-color);
    background: white;
}

.nav__hamburger{
    display: block;
    position: relative;
    z-index: 1;
    
    user-select: none;

    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;  
}

.nav__hamburger span{
    display: block;
    position: relative;
    background: black;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    border-radius: 6px;
    transform-origin: 0,0;
    transition: .4s;
}

.nav__hamburger {
    display: none;
}

.nav__hamburger:hover span:nth-child(2){
    background: var(--primary-color);
    transform: translateX(15px);
}

.nav__hamburger.is-active span:nth-child(1){
    transform: translate(0px, 10px) rotate(45deg);
    background:var(--button-color);
}
.nav__hamburger.is-active span:nth-child(2){
    opacity: 0;
    transform: translateX(10px);
}
.nav__hamburger.is-active span:nth-child(3){
    transform: translate(0px, -8px) rotate(-45deg);
    background:var(--button-color);
}

/* HERO SECTION */
.hero__container {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    margin-top: 1rem;
}

.hero__text{
    max-width: 100%;
}

.hero__text h1 {
    font-size: var(--h1-m-size);
    margin: 0;
}

.hero__text  p {
    font-size: var(--p-m-size);
}

.meeting__container {
    display: inline-flex;
    align-items: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 2rem;
    margin: 0;
}

input {
    font-size: var(--p-m-size);
    width: 5.5rem;
    padding: .1rem;
    border-radius: 2rem;
    border: none;
    margin: 0 0 0 1rem;
    z-index: -1;
}

input:focus {
    outline: none;
}

.meeting__button {
    display: inline-flex;
    font-weight: 500;
    font-size: .5rem;
    width: 6.5rem;
    color: white;
    background: var(--button-color);
    align-items: center;
    padding: .3rem 1rem;
    margin: .3rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    outline: none;
}

.meeting__button i {
    font-size: 1.1rem;
}



/* BRANDS SECTION */
.brands__container{
    display: grid;
    grid-template-rows: 40% 60%;
    row-gap: .5rem;
    text-align: center;
    justify-content: center;
}

.brands__container h1 {
    font-size: var(--h1-m-size);
}

.brand__collection {
    justify-content: center;
    display: grid;
    column-gap: 1rem;
    grid-template-columns: 16% 16% 16% 16% 16%;
    align-items: center;
}

/* FEATURES SECTION */
.feature {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    margin: 3rem 0;
}

.feature h1 {
    font-size: var(--h1-m-size);
    margin: 0;
}

.feature p {
    font-size: var(--p-m-size);
}

.feature a {
    margin: 0;
    font-size: var(--p-m-size);
    color: var(--primary-color);
}

/* SOLUTION SECTION */
.solution__container {
    text-align: center;
    background: linear-gradient(to right bottom, #001b48, #012554, #022f61, #023a6d, #02457a);
    border-radius: 2rem;
}

.solution__container h1 {
    padding: 1rem 0;
    font-size: var(--h1-m-size);
    margin: 0;
}

.card__container {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    margin: 0 3rem;
    
}

.card {
    background: white;
    border-radius: 2rem;
    padding: .5rem 1rem;
    margin: 1rem .6rem;
    transition: .4s  ease-in-out;
    cursor: pointer;
}

.card:hover {
    transform: scale(105%);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.card i {
    font-size: 4rem;
    color: #02457a;
}

.card h3 {
    font-size: var(--h3-m-size);
}

.card p {
    font-weight: 500;
    font-size: var(--p-m-size);
}

.solution__container h1 {
    color: white;
}

/* COSTUMERS SECTION */
.costumers__container h1 {
    font-size: var(--h1-m-size);
    margin-top: 0;
}

.feedback__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.feedback h3 {
    font-size: .5rem;
}

.feedback h5 {
    font-size: .4rem;
}

.feedback p {
    font-size: var(--p-m-size);
    margin-top: .5rem;
    padding-right: .5rem;
}

.feedback__info {
    display: flex;
    grid-template-columns: 20% 70%;
    align-items: center;
}

.feedback__info img {
    max-width:20%;
}

.feedback__tag {
    margin: 0 1rem;
}

/* TRIAL SECTION */
.trial {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.trial__text h1{
    font-size: var(--h1-m-size);
    margin: 0;
}

.trial__text p {
    font-size: var(--p-m-size);
    margin-bottom: 0;
}

.trial a{
    font-size: .4rem;
    font: weight 700;
    color: white;
    background: var(--button-color);
    border: 1px solid var(--button-color);
    border-radius: 1rem;
    padding: .4rem;
    transition: .4s ease-in-out;
}

.trial a:hover {
    color: var(--button-color);
    background: white;
}

.trial__button {
    margin: 0;
}

/* FOOTER SECTION */
.footer__container {
    background: linear-gradient(to right bottom, #001b48, #012554, #022f61, #023a6d, #02457a);
    max-width: 100%;
    margin: 0;
}

.footer__container p {
    color: white;
    font-size: var(--p-m-size)
}

.footer__copyright{
    text-align: center;
    padding: 2rem;
}

.footer__blog{
    display: flex;
    align-items: center;
    color: white;
}

.footer__blog p {
    font-weight: 500;
    font-size: var(--p-m-size);
    color: white;
    margin: 0;
}

.footer__blog ul {
    display: flex;
    align-items: center;
}

.footer__blog i {
    color: white;
    font-size: .8rem;
    margin: 0 .2rem;
    transition: .4s ease-in-out;
}

.footer__blog i:hover {
    transform: translateY(-5px);
}

.footer__search{
    color: var(--button-color);
    border-radius: 2rem;
    display: inline-flex;
    align-items: center;
    background: white;
    
}

.footer__search i {
    font-size: .6rem;
    margin-left: .2rem;
}

.footer__search input {
    margin: 0;
    font-size: .5rem;
    padding: 0.2rem;
    color: var(--button-color);
}

.footer__search__container {
    justify-self: end;
}

::placeholder {
    position:absolute;
    color: var(--button-color);
    font-weight: 600;
    opacity: .6;
    z-index: 1;
}

.footer__upper {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items:center;
    padding: 1rem;
}

hr {
    width: 95%;
}

.footer__lower{
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: center;
    padding: 1rem;
}

.footer__links {
    display: flex;
    margin: 0;
}

.footer__links ul{
    margin: 0;
    margin-right: 3rem;
}

.footer__links ul li{
    font-size: var(--p-m-size);
    margin-bottom: .5rem;
}

.footer__links a {
    color: white;

}

.footer__brand a h1{
    display: inline;
    color: white;
    margin: 0;
    font-size: var(--h1-m-size);
}

.footer__brand p {
    width: 60%;
    margin: 0;
    font-size: .4rem;
}

.footer__copyright{
    padding: 0;
    margin: 0;
}


/* MEDIA QUERIES */

@media screen and (min-width: 768px) {
    section {
        max-width:600px;
        margin: 4rem auto;
    }
    
}

@media screen and (max-width: 768px) {
    body {
        margin: 0;
    }
    
    .nav__logo.is-active a h1{
        color: white;
    }
    
    .nav__menu {
        top: 0;
        left: 100%;
        right: 0;
        bottom: 0;
        position: fixed;
        background: linear-gradient(to right bottom, #001b48, #012554, #022f61, #023a6d, #02457a);
        transition: .4s ease-in-out;
    }
    
    .nav__list{
        display: block;
        margin: 0;
        padding-top: 7rem;
        text-align: center;
    }
    
    .nav__menu.is-active {
        left: 0;
    }
    
    .nav__list li{
        display: block;
        margin-bottom: 3rem;
    }
    
    .nav__list li a {
        color: white;
    }

    .nav__buttons {
        display: none;
    }

    .nav__hamburger{
        display: inline;
    }

}

@media screen and (min-width: 1024px) {
    section {
        max-width: 1080px;
        margin: 2rem auto;
    }

    /* HERO SECTION */
    .hero__text h1 {
        font-size: var(--h1-l-size);
    }

    .hero__text p {
        font-size: var(--p-l-size);
    }

    input {
        font-size: var(--p-l-size);
        width: 12rem;
    }

    .meeting__button {
        font-size: 1rem;
        width: 10rem;
        padding: .6rem 1rem;
    }

    .meeting__button i {
        font-size: 1.2rem;
    }

    /* BRAND SECTION */
    .brands__container h1 {
        font-size: var(--h1-l-size);
        margin: 0;
    }

    .brand__collection {
        column-gap: 3rem;
        grid-template-columns: 13% 13% 13% 13% 13%;
    }

    /* FEATURES SECTION */
    .feature{
        margin: 0;
    }

    .feature h1 {
        font-size: var(--h1-l-size);
    }

    .feature p {
        font-size: var(--p-l-size);
    }

    .feature a {
        font-size: var(--p-l-size);
    }

    /* SOLUTION SECTION */
    .solution__container h1 {
        font-size: var(--h1-l-size);
    }

    .card__container {
        display: flex;
    }

    .card {
        padding: .5rem 2rem;
    }
    
    .card h3 {
        font-size: var(--h3-l-size);
    }

    .card p {
        font-size: var(--p-l-size);
    }

    /* COSTUMER SECTION */
    .costumers__container h1{
        font-size: var(--h1-l-size);
    }

    .feedback h3 {
        font-size: var(--h3-l-size);
    }

    .feedback h5 {
        font-size: var(--h5-l-size);
    }

    .feedback p {
        font-size: var(--p-l-size);
        padding-right: 2rem;
    }

    /* TRIAL SECTION*/
    .trial__text h1 {
        font-size: var(--h1-l-size);
    }

    .trial__text p {
        font-size: var(--p-l-size);
        margin-bottom: 1rem;
    }

    .trial a {
        margin: 2rem 0;
        font-size: 1rem;
    }

    /* FOOTER SECTION */
    .footer__upper, .footer__lower, hr {
        max-width: 1080px;
        margin: 0 auto;
    }

    .footer__blog p {
        font-size: var(--p-l-size);
    }

    .footer__blog i {
        font-size: .9rem;
    }

    .footer__search i {
        font-size: 1.5rem;
    }
    .footer__search input {
        font-size: .8rem;
    }

    .footer__brand a h1 {
        font-size: var(--h1-l-size);
    }

    .footer__brand p {
        font-size: .5rem;
    }

    .footer__links ul li {
        font-size: .6rem;
    }

    .footer__links ul {
        margin-top: 1rem;
    }

    .footer__container .footer__copyright{
        font-size: .6rem;
        padding: 1rem;
    }


}
