@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@400;500;600;700&family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #2B6FB4;
    --secondary-color: #122E4A;
}


* {
    box-sizing: border-box;
    font-family: Poppins;
}
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

ul,li,a {
    text-decoration: none;
    list-style: none;
    padding: 0;
    color: black;
}

section {
    max-width: 1080px;
    margin: 4rem auto;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: .4rem;
}

.nav__logo a {
    color: var(--primary-color);
}

.nav__list {
    display: flex;
}

.nav__list li {
    margin-right: 1.4rem;
}
.nav__list li a{
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: 500;
}

.nav__buttons {
    display: flex;
}

.nav__buttons li a {
    color: var(--primary-color);
    font-weight: 600;
    padding: .3rem 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
}

.nav__buttons li{
    margin-right: .7rem;
}

.signUp {
    background: var(--primary-color);
    color: white;
}

.nav__hamburger{
    display: block;
    position: relative;
    z-index: 1;

    user-select: none;

    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;  
}

.nav__hamburger span{
    display: block;
    position: relative;
    background: black;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    border-radius: 6px;
    transform-origin: 0,0;
    transition: .4s;
}

.nav__hamburger {
    display: none;
}

.nav__hamburger:hover span:nth-child(2){
    transform: translateX(15px);
}


@media screen and (max-width: 768px) {
    body {
        margin: 0;
    }

    .nav__menu {
        display: none;
    }
    
    .nav__buttons {
        display: none;
    }

    .nav__hamburger{
        display: inline;
    }

}
