@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@400;500;600;700&family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');

/* Variables */
:root {
    --primary-color: #2B6FB4;
    --secondary-color: #122E4A;
    --button-color: #6A9FD6;
    --h1-size: 3rem;
}

/* GLOBAL */
* {
    box-sizing: border-box;
    font-family: Poppins;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

ul,li,a {
    text-decoration: none;
    list-style: none;
    padding: 0;
    color: black;
}

h1, p {
    color: var(--secondary-color);
}

h3,h4,h5 {
    margin: 0;
}

h3 {
    font-size: 1rem;
}

h5 {
    font-size: .7rem;
}

section {
    max-width: 1080px;
    margin: 4rem auto;
}

img {
    max-width: 100%;
}

/* NAV SECTION */
.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: .4rem;
}

.nav__logo a {
    position: relative;
    z-index: 99;
    color: var(--primary-color);
}

.nav__list {
    display: flex;
}

.nav__list li {
    margin-right: 1.4rem;
}

.nav__list li a{
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: 500;
}

.nav__buttons {
    display: flex;
}

.nav__buttons li a {
    color: var(--button-color);
    font-weight: 600;
    padding: .5rem 1rem;
    border: 1px solid var(--button-color);
    border-radius: 1rem;
}

.nav__buttons li{
    margin-right: .7rem;
}

.nav__buttons li .signUp {
    color: white;
    background: var(--button-color);
    transition: .4s;
}

.nav__buttons li .signUp:hover {
    color: var(--button-color);
    background: white;
}

.nav__hamburger{
    display: block;
    position: relative;
    z-index: 1;
    
    user-select: none;

    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;  
}

.nav__hamburger span{
    display: block;
    position: relative;
    background: black;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    border-radius: 6px;
    transform-origin: 0,0;
    transition: .4s;
}

.nav__hamburger {
    display: none;
}

.nav__hamburger:hover span:nth-child(2){
    background: var(--primary-color);
    transform: translateX(15px);
}

.nav__hamburger.is-active span:nth-child(1){
    transform: translate(0px, 10px) rotate(45deg);
    background:var(--button-color);
}
.nav__hamburger.is-active span:nth-child(2){
    opacity: 0;
    transform: translateX(10px);
}
.nav__hamburger.is-active span:nth-child(3){
    transform: translate(0px, -8px) rotate(-45deg);
    background:var(--button-color);
}

/* HERO SECTION */
.hero__container {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.hero__text{
    max-width: 100%;
}

.hero__text h1 {
    font-size: var(--h1-size);
    margin: 0;
}

.meeting__container {
    display: inline-flex;
    align-items: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 2rem;
    margin: 0;
}

input {
    padding: .8rem;
    border-radius: 2rem;
    border: none;
    margin: 0 0 0 1rem;
}

input:focus {
    outline: none;
}

.meeting__button {
    display: inline-flex;
    font-weight: 600;
    color: white;
    background: var(--button-color);
    align-items: center;
    padding: .5rem;
    margin: .3rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    outline: none;
}

.meeting__button i{
    font-size: 2rem;
}

.brands__container{
    display: grid;
    grid-template-rows: 40% 60%;
    row-gap: .5rem;
    text-align: center;
    justify-content: center;
}

/* BRANDS SECTION */
.brand__collection {
    justify-content: center;
    display: grid;
    column-gap: 6rem;
    grid-template-columns: 12% 12% 12% 12% 12%;
    align-items: center;
}

.brand__collection imgg {
    margin: 0 2rem;
}

/* FEATURES SECTION */
.feature {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    margin: 3rem 0;
}

.feature h1 {
    font-size: var(--h1-size);
    margin: 0;
}

/* SOLUTION SECTION */
.solution__container {
    text-align: center;
    background: linear-gradient(to right bottom, #001b48, #012554, #022f61, #023a6d, #02457a);
    border-radius: 2rem;
}

.solution__container h1 {
    padding-top: 2.5rem;
}

.card__container {
    display: flex;
    justify-content: center;
    margin: 0 3rem;
    
}

.card {
    background: white;
    border-radius: 2rem;
    padding: 2.4rem 1rem;
    margin: 2rem .6rem;
    transition: .4s  ease-in-out;
    cursor: pointer;
}

.card:hover {
    transform: scale(105%);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.card i {
    font-size: 4rem;
    color: #02457a;
}

.card p {
    font-weight: 500;
    font-size: .7rem;
}

.solution__container h1 {
    color: white;
}

/* COSTUMERS SECTION */
.costumers__container h1 {
    font-size: var(--h1-size);
    margin-top: 0;
}

.feedback__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feedback p {
    margin-top: 1rem;
    padding-right: 4rem;
}

.feedback__info {
    display: flex;
    grid-template-columns: 20% 70%;
    align-items: center;
}

.feedback__info img {
    max-width:20%;
}

.feedback__tag {
    margin: 0 1rem;
}

/* TRIAL SECTION */
.trial {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.trial__text h1{
    font-size: var(--h1-size);
    margin: 0;
}

.trial a{
    font-size: .8rem;
    font: weight 700;
    color: white;
    background: var(--button-color);
    border: 1px solid var(--button-color);
    border-radius: 1rem;
    padding: .8rem;
    transition: .4s ease-in-out;
}

.trial a:hover {
    color: var(--button-color);
    background: white;
}

.trial__button {
    margin: 1.5rem 0;
}

/* FOOTER SECTION */
.footer__container {
    background: linear-gradient(to right bottom, #001b48, #012554, #022f61, #023a6d, #02457a);
    margin-bottom: 0;
}

.footer__container p {
    color: white;
}

.footer__copyright{
    text-align: center;
    padding: 2rem;
}

.footer__blog{
    display: flex;
    align-items: center;
    color: white;
}

.footer__blog p {
    font-weight: 500;
    font-size: .9rem;
    color: white;
}

.footer__blog ul {
    display: flex;
}

.footer__blog i {
    color: white;
    font-size: 1rem;
    margin: 0 .2rem;
    transition: .4s ease-in-out;
}

.footer__blog i:hover {
    transform: translateY(-5px);
}

hr {
    width: 95%;
}
.footer__search{
    color: var(--button-color);
    border-radius: 2rem;
    display: inline-flex;
    align-items: center;
    background: white;
    
}

.footer__search i {
    font-size: 1.6rem;
    margin: 0;
    margin-left: 1rem;
}

.footer__search input {
    margin: 0;
    color: var(--button-color);
}

.footer__search__container {
    justify-self: end;
}

::placeholder {
    color: var(--button-color);
    font-weight: 600;
}

.footer__upper {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items:center;
    padding: 2rem;
}

.footer__lower{
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: center;
    padding: 2rem;
}

.footer__links {
    display: flex;
    margin: 0;
}

.footer__links ul{
    margin: 0;
    margin-right: 3rem;
}

.footer__links ul li{
    margin-bottom: 1rem;
}

.footer__brand h1,a{
    color: white;
    margin: 0;
}

.footer__brand p {
    width: 60%;
    font-size: .7rem;
}

.footer__copyright{
    margin: 0;
}


/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
    body {
        margin: 0;
    }
    
    section {
        max-width:600px;
    }

    .nav__logo.is-active a h1{
        color: white;
    }
    
    .nav__container {
        padding: 0;
    }

    .nav__menu {
        top: 0;
        left: 100%;
        right: 0;
        bottom: 0;
        position: fixed;
        background: linear-gradient(to right bottom, #001b48, #012554, #022f61, #023a6d, #02457a);
        transition: .4s ease-in-out;
    }
    
    .nav__list{
        display: block;
        margin: 0;
        padding-top: 7rem;
        text-align: center;
    }
    
    .nav__menu.is-active {
        left: 0;
    }
    
    .nav__list li{
        display: block;
        margin-bottom: 4rem;
    }
    
    .nav__list li a {
        color: white;
    }

    .nav__buttons {
        display: none;
    }

    .nav__hamburger{
        display: inline;
    }

}
